apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../deployment

nameSuffix: -05pct

labels:
- includeSelectors: true
  pairs:
    canary: 05pct
images:
- name: ghcr.io/jessesuen/rollouts-demo
  newName: ghcr.io/jessesuen/rollouts-demo
  newTag: blue
